*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 100vh;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 800px;
    width: 1600px;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

img{
    height: 1200px;
    width: 1600px;
    object-fit: cover;
}